params {
  query = "${PWD}/input.fasta"
  dbDir = "${PWD}/DB"
  dbName = "blastDB"
  threads = 2
  outDir = "${PWD}/out_dir"
  outFileName = "input.blastout"
  outfmt = "'6'"
  options = "-evalue 1e-3"
  app = "blastn"
  chunkSize = 1
  genome = false
  help = false
}

profiles {
  test { includeConfig "${PWD}/configs/test.config" }
  slurm { includeConfig "${PWD}/configs/slurm.config" }

  docker { docker.enabled = true }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
}


timeline {
  enabled = true
  file = "$params.outDir/timeline.html"
}

report {
  enabled = true
  file = "$params.outDir/report.html"
}

executor {
  queueSize = 100
  submitRateLimit = '10 sec'
}



manifest {
  name = 'christophstach/nextflow-tutorial'
  author = 'Christoph Stach'
  description = 'Tutorial for nextflow'
  mainScript = 'main.nf'
  version = '1.0.0'
}